* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vogue-Like-Font';
    src: url('path-to-your-font.woff2') format('woff2'),
         url('path-to-your-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --white: #FFF;
    --grey-5: #747171;
}

.about-black-container1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Vogue-Like-Font', sans-serif; 
}

.navbar-main {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Vogue-Like-Font', sans-serif; 
    
}

.nav, .nav3-1 {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Vogue-Like-Font', sans-serif; 
}

.nav3-1 {
    width: 40%;
}

a {
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.about-h1 {
    position: absolute;
    color: white;
    left: 50%;
    top: 7%;
}

img {
    height: 75vh;
    width: 85%;
}

.about-text-container {
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: flex-start;
    color: white;
    position: absolute;
    top: 50%;
    left: 8%;
    font-size: 14px;
}

.more-div {
    height: 15%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--white, #FFF);
    background: rgba(2, 2, 2, 0.10);
}

.about-white-container {
    height: 140vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.center-container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    background: var(--white, #FFF);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.item2 {
    width: 25%;
    height: 100%;
    color: white;
    background: #020202;
    box-shadow: 0px 0px 34.615577697753906px 0px rgba(0, 0, 0, 0.10); 
}

.title {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}



.done-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40%;
    width: 95%;
    color: var(--grey-5, #747171);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.done-div {
    width: 100%;
    height: 10%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



footer {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.footer-1 {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    font-size: 17px;
    
}



.part-title, .part-svg {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: 70%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.column-3 {
    height: 50%;
}