* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-2: #BAB6B6;
    --grey-1: #D2CDCD;
}

.contact-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

img {
    height: 100vh;
    width: 100%;
}

.navbar-main {
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav, .nav3-1 {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav3-1 {
    width: 40%;
}

a {
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact-title {
    position: absolute;
    color: white;
    top: 30%;
    left: 42%;
}

.form {
    width: 20%;
    height: 20%;
    border-bottom: 1px solid var(--grey-2, #BAB6B6);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    position: absolute;
    top: 47%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input-div {
    height: 33%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--grey-2, #BAB6B6);

}

input {
    border: none;
    color: var(--grey-5, #747171);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.join-div {
    border-radius: 5px;
    border: 2px solid #FFF;
    background: rgba(2, 2, 2, 0.10);
    position: absolute;
    top: 70%;
    left: 46%;
    width: 8%;
    height: 6%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.text {
    width: 30%;
    height: 7%;
    position: absolute;
    top: 90%;
    left: 5%;
    color: var(--grey-1, #D2CDCD);

    /* Body/B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone-num {
    color: #FFF;

    /* Body/B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 5%;
    top: 90%;

}


footer {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.footer-1 {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    font-size: 17px;
    
}



.part-title, .part-svg {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: 70%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.column-3 {
    height: 50%;
}