* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --grey-1: #D2CDCD;
    --black: #020202;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.vh-container1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img {
    height: 100vh;
    width: 100%;
}

.navbar-main {
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav, .nav3-1 {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav3-1 {
    width: 40%;
}

a {
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title-main {
    position: absolute;
    top: 33%;
    color: var(--white, #FFF);
    font-family: Vogue;
    font-size: 100px;
    font-style: normal;
    font-weight: 10;
    line-height: normal;
}

.child-div-main {
    width: 26%;
    height: 30vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: var(--grey-1, #D2CDCD);
    text-align: center;
    
    /* Body/B1 */
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.more-div {
    height: 20%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--white, #FFF);
    background: rgba(2, 2, 2, 0.10);
}

.title-main {
    color: var(--white, #FFF);
    font-family: Vogue;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vh-container2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--black, #020202);
}


.team-member-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.member {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}

h4 {
    color: var(--white, #FFF);

    /* Heading/H4 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: var(--grey-3, #A49F9F);

    /* Body/B1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team-member {
    width: 100%;
    height: 80%;
}

.vh-container2-button {
    height: 6.5%;
    width: 10%;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.vh-container3 {
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.structure {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


.vh-container3-title {
    color: var(--black, #020202);
    font-family: Vogue;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-container {
    width: 100vh;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.item {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    color: var(--Black, #020202);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.img {
    height: 60%;
    width: 100%;
}

.item-svg {
    width: 9%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-on-container {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
    
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    height: 100%;
    width: 30%;
    
}

.more-on-img {
    width: 100%;
    height: 60%;
}

.vh-container3-buton {
    height: 8%;
    width: 10%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #020202;

    /* Button/B1 */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.footer-1 {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    font-size: 17px;
    
}



.part-title, .part-svg {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: 70%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.column-3 {
    height: 50%;
}